*
!debian/
!debian/*
!debian/patches/
!debian/patches/*
!debian/source/
!debian/source/*
!debian/upstream/
!debian/upstream/*
!.gitignore
!README.md
!LICENSE
!.github/
.github/*
!.github/workflows/
.github/workflows/*
!.github/workflows/dpkg-buildpackage.yml
!.github/workflows/dpkg-scan.yml
!.github/workflows/gitee-release-sync.yml
!.github/workflows/.extras.sh
